# Assignment 2: Data Science and Big Data Analysis (COSC 5340)

#                           Student Name 


"Heart Disease Data Set"

Data Set Information:
    
This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to
this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 4. Experiments with the Cleveland database have concentrated on simply attempting to distinguish presence (values 1,2,3,4) from absence (value 0).

The names and social security numbers of the patients were recently removed from the database, replaced with dummy values.

One file has been "processed", that one containing the Cleveland database. All four unprocessed files also exist in this directory.

Attribute Information:

1. age (numerical attibute)
2. sex (nominal attibute)
3. chest pain type (4 values) (nominal attibute)
4. resting blood pressure (numerical attibute)
5. serum cholestoral in mg/dl (numerical attibute)
6. fasting blood sugar > 120 mg/dl (nominal attibute)
7. resting electrocardiographic results (values 0,1,2) (ordinal attibute)
8. maximum heart rate achieved (numerical attibute)
9. exercise induced angina (nominal attibute)
10. oldpeak = ST depression induced by exercise relative to rest (numerical attibute)
11. the slope of the peak exercise ST segment (ordinal attibute)
12. number of major vessels (0-3) colored by flourosopy (nominal attibute)
13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect (nominal attibute)

In [4]:
#Load necessary libraries
import numpy as np
import pandas as pd

In [5]:
#Load dataset
df = pd.read_csv("heart.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'heart.csv'

In [3]:
#Check top5 data
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#Data Information check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
#Check for null value
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

# This dataset has no missing values and all attributes are numerical
    No preprocesssing techniques are required for this.
    Measures of statistical dispersion can be computed directly

In [6]:
#Description on data
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

# Count of some catergorical attributes

In [7]:
df['age'].sort_values().value_counts()

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
64    10
41    10
63     9
67     9
55     8
45     8
42     8
53     8
61     8
65     8
43     8
66     7
50     7
48     7
46     7
49     5
47     5
39     4
35     4
68     4
70     4
40     3
71     3
69     3
38     3
34     2
37     2
77     1
76     1
74     1
29     1
Name: age, dtype: int64

In [8]:
df['cp'].sort_values().value_counts()

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

In [9]:
df['fbs'].sort_values().value_counts()

0    258
1     45
Name: fbs, dtype: int64

# Statistics on numerical attributes

In [10]:
num_attribute = ['age','trestbps','chol','thalach','oldpeak']

In [1]:
#Using function to find mean,median and standard deviation
def statistics(x):
    mean = x.mean()
    median = x.median()
    std = x.std()
    f.write("\n\tMean: %f "%mean)
    f.write("\n\tMedian: %f"%median)
    f.write("\n\tStandard Deviation: %f\n"%std)

In [12]:
#Calculating the 1st quartile, 3rd quartile, range and variance
def stat(x):
    f.write("\n\tFirst Quartile: %f "%x.quantile(0.25))
    f.write("\n\tThird Quartile: %f "%x.quantile(0.75))
    f.write("\n\tRange: %f "%(x.max()-x.min()))
    f.write("\n\tVariance: %f\n"%x.var())

In [13]:
#Calculating the AAD and MAD
def func(x):
    s = []
    s.append(abs(x-x.mean()))
    f.write("\n\tAAD: %f "%(np.mean(s)))
    f.write("\n\tMAD: %f \n\n"%(np.median(s)))

In [14]:
#Calling all the methods and writing to a file 
f = open ("outputfile.txt","w+")
for i in range(len(num_attribute)):
    f.write("\nAttribute: "+num_attribute[i]+"\n")
    statistics(df[num_attribute[i]])
    stat(df[num_attribute[i]])
    func(df[num_attribute[i]])
f.close()

# I used a different dataset to show handling of missing values and attribute conversion

Statistical measures are not shown for this as most of the attributes are non-numerical

Attribute Information:

BI-RADS assessment: 1 to 5 (ordinal)
Age: patient's age in years (integer)
Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)
Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)
Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)
Severity: benign=0 or malignant=1 (binominal)
Missing Attribute Values: Yes

- BI-RADS assessment:    2
- Age:                   5
- Shape:                31
- Margin:               48
- Density:              76
- Severity:              0

In [3]:
#Load dataset
data = pd.read_csv("mammographic_masses.data",header=None, na_values = '?')

NameError: name 'pd' is not defined

In [16]:
#Check top5 data
data.head()

     0     1    2    3    4  5
0  5.0  67.0  3.0  5.0  3.0  1
1  4.0  43.0  1.0  1.0  NaN  1
2  5.0  58.0  4.0  5.0  3.0  1
3  4.0  28.0  1.0  1.0  3.0  0
4  5.0  74.0  1.0  5.0  NaN  1

In [2]:
#Add column name
data.columns = ['BI-RADS assessment','Age','Shape','Margin','Density','Severity']

NameError: name 'data' is not defined

In [18]:
#Recheck
data.head()

   BI-RADS assessment   Age  Shape  Margin  Density  Severity
0                 5.0  67.0    3.0     5.0      3.0         1
1                 4.0  43.0    1.0     1.0      NaN         1
2                 5.0  58.0    4.0     5.0      3.0         1
3                 4.0  28.0    1.0     1.0      3.0         0
4                 5.0  74.0    1.0     5.0      NaN         1

In [19]:
#Data Information check
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 6 columns):
BI-RADS assessment    959 non-null float64
Age                   956 non-null float64
Shape                 930 non-null float64
Margin                913 non-null float64
Density               885 non-null float64
Severity              961 non-null int64
dtypes: float64(5), int64(1)
memory usage: 45.2 KB

In [20]:
#Find missing values count
data.isna().sum()

BI-RADS assessment     2
Age                    5
Shape                 31
Margin                48
Density               76
Severity               0
dtype: int64

In [21]:
#Handling missing values with mean value

#Finding average value of each columns and replacing null value with average value of each columns
avg_col = []
for i in range(len(data.columns)-1):
    avg_col.append(round(data[data.columns[i]].dropna().astype(int).mean()))
    data[data.columns[i]] = data[data.columns[i]].fillna(avg_col[i])

In [22]:
#Converting all the attribute columns to integer type

data['Density'] = data['Density'].astype(int)
data['Age'] = data['Age'].astype(int)
data['Shape'] = data['Shape'].astype(int)
data['BI-RADS assessment'] = data['BI-RADS assessment'].astype(int)
data['Margin'] = data['Margin'].astype(int)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 6 columns):
BI-RADS assessment    961 non-null int32
Age                   961 non-null int32
Shape                 961 non-null int32
Margin                961 non-null int32
Density               961 non-null int32
Severity              961 non-null int64
dtypes: int32(5), int64(1)
memory usage: 26.4 KB

Successfully handled missing values and performed attribute conversion

In [24]:
data.describe()

,BI-RADS assessment,Age,Shape,Margin,Density,Severity
count,961.000000,961.000000,961.000000,961.000000,961.000000,961.000000
mean,4.347555,55.484912,2.730489,2.806452,2.917794,0.463059
std,1.781244,14.442416,1.223552,1.527525,0.365869,0.498893
min,0.000000,18.000000,1.000000,1.000000,1.000000,0.000000
25%,4.000000,45.000000,2.000000,1.000000,3.000000,0.000000
50%,4.000000,57.000000,3.000000,3.000000,3.000000,0.000000
75%,5.000000,66.000000,4.000000,4.000000,3.000000,1.000000
max,55.000000,96.000000,4.000000,5.000000,4.000000,1.000000